In [33]:
import pandas as pd
import numpy as np

In [47]:
seria=pd.Series([1,2,3,4,"babcia","test","marynarz"])
seria2=pd.Series([5,6,7,8,9])

In [65]:
print(seria)
print(seria2)

0           1
1           2
2           3
3           4
4      babcia
5        test
6    marynarz
dtype: object
0    5
1    6
2    7
3    8
4    9
dtype: int64

In [80]:
a=pd.read_csv("pokemony.csv")

In [88]:
a[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [87]:
print(a.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False

In [105]:
seria1=pd.Series(["pokemony.csv"])

In [100]:
seria1

0    pokemony.csv
dtype: object

In [119]:
#Data framy
daty = pd.date_range(today,periods=30min)
daty1=pd.date_range("01.01.2020":'31.12.2020')

SyntaxError: invalid syntax (<ipython-input-119-ee8d65f06150>, line 2)

In [1]:
import random

In [4]:
x=randint(1,10)

NameError: name 'randint' is not defined