In [25]:
#variable declaration
name = "Edureka"
f = 1991
print("python was founded in {}".format(f))
#data types
a = [1,2,3,4,5,6,7]
b = {1 : 'edureka' , 2: 'python'}
c = (1,2,3,4,5)
d = {1,2,3,4,5}
print("the list is" , a)
print("the dictionary is" , b)
print("the tuple is" , c)
print("the set is " , d)

python was founded in 1991
the list is [1, 2, 3, 4, 5, 6, 7]
the dictionary is {1: 'edureka', 2: 'python'}
the tuple is (1, 2, 3, 4, 5)
the set is  {1, 2, 3, 4, 5}

In [27]:
a = 10
b = 15
#arithmetic operator
print(a + b)
print(a - b)
print(a * b)
#assignment operator
a += 10
print(a)
#comparison operator
#a != 10
#b == a
#logical operator
a > b and a > 10
#this will return true if both the statements are true.

25
-5
150
20

True

In [28]:
name = 'edureka'
for i in name:
     if i == 'a':
         break
     else:
         print(i)

e
d
u
r
e
k

In [29]:
def func(a):
      return a ** a
res = func(10)
print(res)

10000000000

In [33]:
class Parent:
      def func(self):
            print('this is parent')
 
class Child(Parent):
      def func1(self):
           print('this is child')
 
ob = new Child()
ob.func()

SyntaxError: invalid syntax (<ipython-input-33-756a430734c0>, line 9)

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
df  = pd.read_csv('pokemony.csv')
print(df.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False