In [1]:
import pandas as pd

In [35]:
df = pd.read_excel(r'C:\Users\Misiek\Desktop\Rekrutacja - Specjalista ds. analiz i komunikacji CRM- zadania.xlsm',sheet_name='Zadanie 4')

In [38]:
df = df[['Kampania','miesiąc','liczba sprzedanych produktów']]

In [41]:
df.groupby(by=['Kampania','miesiąc']).max().min()

liczba sprzedanych produktów    15.0
dtype: float64

In [43]:
df=pd.DataFrame(df)

In [48]:
df.groupby('Kampania').max()

            miesiąc  liczba sprzedanych produktów
Kampania
Kampania_A  2021-06                          70.0
Kampania_B  2021-06                        1243.0
Kampania_C  2021-06                         168.0
Kampania_D  2021-06                        1789.0
Kampania_E  2021-06                         789.0
Kampania_F  2021-06                         567.0
Kampania_G  2021-06                         167.0
Kampania_H  2021-06                          48.0
Kampania_I  2021-06                          33.0